body {
    margin:0;
    width:100vw;
    height:100vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
}

section {
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

section h2 {
    text-align: center;
}

section {
    border-top: 1px solid black;
}

section:first-of-type, section:nth-of-type(3) {
    border-right: 1px solid black;
}

figure {
    max-width:30%;
    max-height:30%;
}


/* EXERCICE 1 */

@keyframes fill-glass {
    from {
        fill: rgba(255, 0, 0, 0);
    }
    to {
        fill: rgba(157, 17, 17, 1);
    }
}

#glass-body{
    animation-name : fill-glass;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
/* EXERCICE 2 */

@keyframes tiny-bubbles-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50vh);
    }
}

@keyframes small-bubbles-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-40vh);
    }
}

@keyframes middle-bubbles-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-30vh);
    }
}

@keyframes big-bubbles-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20vh);
    }
}

#ex2 .tiny-bubble{
    animation-name : tiny-bubbles-up;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#ex2 .small-bubble{
    animation-name : small-bubbles-up;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#ex2 .middle-bubble{
    animation-name : middle-bubbles-up;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#ex2 .big-bubble{
    animation-name : big-bubbles-up;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* EXERCICE 3 */

/*
    couleurs :
    niveau 1 #7400b8:
    niveau 2 #5e60ce:
    niveau 3 #4ea8de:
    niveau 4 #56cfe1:
    niveau 5 #72efdd:
*/

#ex3 figure {
    max-width:40%;
    max-height:40%;
}

@keyframes fill-lvl-1 {
    from {
        fill: rgba(255, 0, 0, 0);
    }
    to {
        fill: #7400b8;
    }
}

@keyframes fill-lvl-2 {
    from {
        fill: rgba(255, 0, 0, 0);
    }
    to {
        fill: #5e60ce;
    }
}

@keyframes fill-lvl-3 {
    from {
        fill: rgba(255, 0, 0, 0);
    }
    to {
        fill: #4ea8de;
    }
}

@keyframes fill-lvl-4 {
    from {
        fill: rgba(255, 0, 0, 0);
    }
    to {
        fill: #56cfe1;
    }
}

@keyframes fill-lvl-5 {
    from {
        fill: rgba(255, 0, 0, 0);
    }
    to {
        fill: #72efdd;
    }
}

#eq1-1, #eq2-1, #eq3-1, #eq4-1{
    animation-name : fill-lvl-1;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#eq1-2, #eq2-2, #eq3-2, #eq4-2{
    animation-name : fill-lvl-2;
    animation-delay: 2.25s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#eq1-3, #eq2-3, #eq3-3{
    animation-name : fill-lvl-3;
    animation-delay: 3.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#eq2-4, #eq3-4{
    animation-name : fill-lvl-4;
    animation-delay: 4.75s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#eq2-5{
    animation-name : fill-lvl-5;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


/* EXERCICE 4 */

#armor .st23 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}